@using EntityLayer.Concrete
@model List<Blog>

@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yazarın Blogları</h1>


<table class="table table-hover">
    <tr>
        <th> #</th>
        <th> Blog Başlığı</th>
        <th> Oluşturma Tarihi</th>
        <th> Kategori</th>
        <th> Durum</th>
        <th> Sil</th>
        <th> Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.BlogId</td>
    <td>@item.Title</td>
    <td>
        @(((DateTime)
        item.CreateDate).ToString("dd-MMM-yyy"))
    </td>
    <td>@item.Category.Name</td>
    <td>
        @if (item.Status == true)
        {
            <span class="badge badge-success">Aktif</span>
        }
        else
        {
            <span class="badge badge-secondary">Pasif</span>
        }
    </td>
    <td><a href="/Blog/DeleteBlog/@item.BlogId" class="btn btn-danger">Sil </a></td>
    <td><a href="/Blog/EditBlog/@item.BlogId" class="btn btn-warning">Düzenle </a></td>

</tr>

    }
</table>
<a href="/Blog/BlogAdd" class="btn btn-primary" >Yeni Blog Oluştur</a>


